<!doctype html>
<html lang="ko">

<head>
  <h1>pong game</h1>
  <style>
    canvas {
      background-color: black;
    }
  </style>
</head>

<body>
  <script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>
  <script src="/game/game.js"></script>
</body>

<style>
  canvas {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>



</html>